<p id="notice"><%= notice %></p>

<div class="float-left">
  <h4>Eventos</h4>
</div>

<div class="float-right">
  <%= link_to 'Novo Evento', new_user_event_path, class: 'btn btn-sm btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome do Evento</th>
      <th>Responsável</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.user.name %></td>
        <td class="text-right">
          <%= link_to 'Albums', user_event_albums_path(event_id: event.id, user_id: event.user.id), class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Destroy', user_event_path(id: event.user_id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
