<p id="notice"><%= notice %></p>
asdasdas
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edits', edit_event_path(@event) %> |
<%= link_to 'Back', user_events_path %>
